.cards {
    max-width: calc(1280px - 2 * 200px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-gap: 20px 17px;    
}

@media screen and (max-width:900px) {
    .cards{
        max-width: 584px;
    }
}

@media screen and (max-width:580px) {
    .cards{
        grid-template-columns: repeat(auto-fit, 242px);
        max-width: 504px;
    }
}
@media screen and (max-width:500px) {
    .cards{
        max-width: 242px;
    }
}


@media screen and (max-width:320px) {
    .cards{
        grid-template-columns: repeat(auto-fit, 282px);
        max-width: 280px;
    }
}

.image-container img.expanded {
    width: 400%;
  }