.login__input {
    width: 100%;
    margin-top: 30px;
    background-color: black;
    border-style: none;
    border-bottom: 1px solid #CCC;
    padding-bottom: 13px;
    color: #CCC;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}