.registration__title {
  max-width: 100%;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: 0;
}

@media screen and (max-width: 599px) {
  .registration__title {
    font-size: 20px;
  }
}
