.popup__exit {
    width: 32px;
    height: 32px;
    background: url(../../../images/close-icon.svg);
    background-repeat: no-repeat;
    border: none;
    background-position: center center;
    position: absolute;
    right: -40px;
    top: -40px;
}
.popup__exit:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: 1s;
} 
@media screen and (max-width:520px){
    .popup__exit{ 
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;               
    }
}