.profile__edit-button {
    background: url(../../../images/xs.svg);
    width: 24px;
    height: 24px;
    margin: 15px 0 0 18px;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #FFFFFF;
    
}
.profile__edit-button:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: 1s;
}
@media screen and (max-width:560px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        margin: 10px 0 0 10px;

    }
}